* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family)
}

:root {
    --standard-width: 1349px;
    --font-weight-1: 900;
    --font-weight-2: 800;
    --font-weight-3: 700;
    --font-weight-4: 600;
    --font-weight-5: 500;
    --font-weight-6: 400;
    --font-weight-7: 300;
    --font-weight-8: 200;
    --font-weight-9: 100;
    --h1-size: 50px;
    --h2-size: 40px;
    --h3-size: 28px;
    --h4-size: 21px;
    --h5-size: 16px;
    --h6-size: 12px;
    --primary-color-1: #ffad00;
    --primary-color-2: rgba(255, 189, 49, 1);
    --primary-color-3: rgba(255, 214, 127, 1);
    --primary-color-4: rgba(255, 237, 198, 1);
    --primary-color-5: rgba(255, 237, 198, 1);
    --neutral-color-1: rgba(255, 255, 255, 1);
    --neutral-color-2: #cacaca;
    --neutral-color-3: rgba(97, 97, 97, 1);
    --neutral-color-4: rgba(65, 65, 65, 1);
    --neutral-color-5: rgba(26, 26, 26, 1);
    --neutral-color-6: rgba(0, 0, 0, 1);
    --neutral-color-7: linear-gradient(rgba(0, 0, 0, 1), rgba(97, 97, 97, 1));
    --font-family: "Poppins", sans-serif;
    --orange-subtitle-color: rgba(255, 173, 0, 1);
    --previous-btn-color: rgba(97, 97, 97, 1);
    --next-btn-color: rgba(255, 173, 0, 1);
    --booking-btn-color: rgba(26, 26, 26, 1);
    --booking-btn-background-color: rgba(255, 173, 0, 1);
    --submit-btn-color: rgba(26, 26, 26, 1);
    --submit-btn-background-color: rgba(255, 173, 0, 1);
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 28px;
    --spacing-xl: 64px
}

.about-legacy-background>*,
.background p,
.blog-article-background>*,
.contact-background>*,
.mission .right-column>p,
p {
    text-transform: capitalize
}

.background-container,
.test-center-container {
    background-position: bottom;
    filter: contrast(1.2) brightness(-.3)
}

img[alt=about-us1],
img[alt=about-us2],
img[alt=about-us3],
img[alt=about-us4],
img[alt=mission2],
img[alt=mission3] {
    height: 100%;
    object-fit: cover
}

.about-us .section-container,
.added-value-services .section-container,
.amenities-cards-divs>div,
.background .mini-orange-subtitle,
.background h1,
.background p,
.blog-article-background h1,
.blog-article-background p,
.customers .section-container,
.footer-tab p,
.main-navigation-bar,
.testimonial .section-container,
.tests-w-standards {
    text-align: center
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: auto;
    column-gap: 27px
}

.main-navigation-bar {
    display: flex;
    column-gap: 84px;
    list-style-type: none;
    padding-right: 63px;
    font-weight: 600;
    font-size: 21px;
    font-weight: var(--font-weight-6)
}

.main-navigation-bar a {
    text-decoration: none;
    color: var(--neutral-color-2)
}

.main-navigation-bar .active {
    color: #fff
}

.background span:first-of-type,
.pages>p:first-of-type,
.ul-list a:hover {
    color: var(--primary-color-1)
}

.nav-btns {
    display: flex;
    column-gap: 30px;
    align-items: center
}

.menu-btns,
img[alt=menu-burger] {
    display: none
}

.menu-btns>img:first-of-type {
    padding-right: 10px
}

.logo-div {
    padding-top: 10px
}

img[alt=logo] {
    padding-bottom: 5px;
    width: 100%
}

.nav-btns-w-search {
    display: flex;
    align-items: center;
    column-gap: 21px
}

button[name=login] {
    background-color: inherit;
    padding: 15px;
    border-style: none;
    font-size: 23px
}

button[name=mobile-contact-btn],
button[name=start] {
    padding: 11px;
    border-style: none;
    font-size: 21px;
    background-color: inherit;
    transition: background-color .7s
}

button[name=start] {
    width: 175px;
    border: 1px solid var(--neutral-color-2);
    border-radius: 2px
}

button[name=mobile-contact-btn] {
    width: 124px;
    border: 1px solid var(--neutral-color-2);
    color: #fff;
    border-radius: 2px
}

button[name=mobile-contact-btn]:hover,
button[name=start]:hover {
    background-color: var(--primary-color-1);
    cursor: pointer
}

.about-us-grid,
.added,
.innovation-core .section-container,
.innovative-cards .two-columns,
img[alt=added-card] {
    position: relative
}

.about-legacy-background .left-column span,
.background .mini-orange-subtitle,
.background span:nth-of-type(2),
.blog-article-background .mini-orange-subtitle,
.blog-article-background span,
.blog-background .mini-orange-subtitle,
.blog-background span,
.contact-background .contact-black span,
.test-center-background span {
    color: var(--orange-subtitle-color)
}

.background-container {
    background-image: url(./images/main-background.png);
    color: #fff;
    background-size: cover;
    height: 100vh;
    padding: 0 var(--spacing-md);
}

.background,
.left-column {
    flex-direction: column;
    display: flex
}

.background {
    align-items: center;
    color: #fff;
    background-size: cover;
    padding: 0 var(--spacing-md) 0 var(--spacing-md);
    justify-content: center
}

.background p {
    font-size: var(--h4-size);
    width: 70%
}

.footer-tab p,
footer {
    color: var(--neutral-color-1)
}

.background h1:nth-of-type(2) {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: var(--spacing-sm) 0 0 0;
    font-size: 48px;
}

.background .mini-orange-subtitle {
    font-weight: var(--font-weight-4);
    font-size: var(--h2-size)
}

.accreditiations,
.added-value-services,
.amenities,
.blog-article-tab,
.contact-center,
.innovative-cards,
.roads,
.standards,
.table-of-content {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md)
}

h1 {
    font-size: var(--h1-size)
}

.big-heading,
h2 {
    font-size: var(--h2-size);
    font-weight: var(--font-weight-4)
}

h3 {
    font-size: var(--h3-size)
}

.mini-heading,
h4 {
    font-size: var(--h4-size)
}

h5 {
    font-size: var(--h5-size)
}

h6 {
    font-size: var(--h6-size)
}

.section-container {
    width: 100%;
    max-width: var(--standard-width);
    margin: auto
}

.about-us,
.amenities-cards,
.arrows,
.customer-stories,
.customers,
.journey,
.mission,
.our-facilities,
.testimonial,
.tests-w-standards {
    margin: var(--spacing-xl) 0;
}

.two-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 13px
}

.left-column {
    justify-content: center;
    width: 50%
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%
}

.mini-heading-div,
.oranged-border-w-paragraph {
    display: flex;
    column-gap: 10px;
    align-items: center
}

.mini-heading {
    font-weight: var(--font-weight-5)
}

.test-center-background .black-card:nth-of-type(2){
    background-color: beige;
}
.orange-border {
    height: 3px;
    width: 50px;
    background-color: var(--primary-color-1)
}

.shrinked-img,
.tests-w-standards-img-container {
    height: 500px;
    background-image: url(./images/un-colored1.svg);
    background-size: cover
}

.accreditiations .right-column {
    background-image: url("./images/Property\ 1=yes.svg");
    background-size: cover;
    height: 300px;
    transition: all .6s ease-out;
}

.accreditiations .right-column:hover {
    background-image: url("./images/Property\ 1=no.svg");
  /* transform: scaleX(1); */
  transform: rotateY('180deg');
  transform-origin: center;

}

.contact-black>div:first-of-type,
img[alt=added-value-background],
img[alt=biomechanics],
img[alt=blog1],
img[alt=grip-tests],
img[alt=impactor-tests],
img[alt=map],
img[alt=modular-concrete],
img[alt=push-pull],
img[alt=simulation],
img[alt=standard-frame] {
    width: 100%
}

.standards-frame .section-container {
    background-image: url("./images/Frame\ 4.svg");
    background-size: cover;
    height: 30vh
}

.subtitle,
footer h4 {
    padding: var(--spacing-sm) 0
}

.about-us-cards,
.breakdown,
.customized-services,
footer .section-container {
    padding: 0 var(--spacing-md)
}

.about-us .mini-heading-div,
.added-value-services .mini-heading-div,
.customers .mini-heading-div,
.testimonial .mini-heading-div,
.tests-w-standards .mini-heading-div {
    justify-content: center
}

.tests-w-standards-images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    overflow-x: hidden;
    justify-content: center
}

.tests-w-standards-img-container {
    width: 33%
}

#wide-img {
    width: 25%;
    height: 510px;
    background-image: url(./images/un-colored1.svg);
    background-size: cover
}

.shrinked-img {
    width: 18%;
    transition: width 1.5s
}

.shrinked-img:hover {
    animation: .8s forwards width;
    background-image: url(./images/colored-box1.jpg);
    cursor: pointer
}

@keyframes width {
    0% {
        width: 18%
    }

    100% {
        width: 33%
    }
}

.shrinked-img:nth-of-type(4),
.shrinked-img:nth-of-type(5) {
    width: 8%
}

.shrinked-img:nth-of-type(4):hover {
    transition: width .8s
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--neutral-color-2)
}

.single-card {
    display: flex;
    justify-content: end
}

.services-grid {
    grid-template-areas: ". b" "a b" "a c" "b c" "b d" "e d" "e .";
    display: none
}

.added-value-cards .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;
    margin-bottom: -165px;
    position: relative;
    z-index: 1
}

img[alt=added-card] {
    border-bottom: 2px solid var(--neutral-color-2)
}

img[alt=added-card]:hover {
    transform: scale(1.3)
}

#added-value-cards-text {
    display: flex;
    justify-content: space-evenly
}

.about-us-grid {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-areas: 
    "a a a b"
    "c d d d";
    grid-gap: 10px
}

img[alt=about-us1] {
    grid-area: a;
    transition: .3s ease-in;
    width: 100%
}

img[alt=about-us1]:hover,
img[alt=about-us2]:hover,
img[alt=about-us3]:hover,
img[alt=about-us4]:hover {
    filter: brightness(.6)
}

img[alt=about-us2] {
    grid-area: b;
    width: 100%;
    transition: .4s ease-in
}

img[alt=about-us3] {
    grid-area: c;
    width: 100%;
    transition: .3s ease-in
}

img[alt=about-us4] {
    grid-area: d;
    width: 100%;
    transition: .3s ease-in
}

.position-text::before {
    content: "hello";
    position: absolute;
    z-index: 1
}

.sponsors .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.angle-sponsor-left {
    position: absolute;
    top: 35px;
    left: 0
}

.angle-sponsor-right {
    position: absolute;
    top: 35px;
    right: 0
}

.customer-stories {
    position: relative
}

.customer-stories .right-column {
    background-color: #fff;
    position: absolute;
    z-index: 1;
    right: 0;
    text-transform: uppercase;
    font-weight: var(--font-weight-4);
    font-size: var(--h1-size);
    padding: var(--spacing-xl) var(--spacing-lg)
}

.customer-stories .right-column>p {
    width: 88%
}

.customer-stories .left-column {
    width: 68%
}

.customer-stories .mini-orange-subtitle,
.innovative-cards .mini-orange-subtitle {
    color: var(--orange-subtitle-color);
    text-transform: capitalize;
    font-size: var(--h4-size);
    margin: var(--spacing-md) 0 0 0;
    font-weight: var(--font-weight-5);
    letter-spacing: 1px
}

.innovative-cards .left-column,
.submit-btn,
.test-center-container h1 {
    font-weight: var(--font-weight-4)
}

footer {
    padding: var(--spacing-xl) 0 0 0;
    background-color: var(--neutral-color-6)
}

footer h5 {
    font-size: var(--h4-size);
    margin: 0 0 var(--spacing-md) 0
}

footer h4:hover,
footer p:hover {
    color: var(--primary-color-1);
    cursor: pointer
}

footer .section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px
}

footer .follow-icons {
    display: flex;
    column-gap: 15px
}

footer p {
    padding: 0 0 var(--spacing-sm) 0;
    color: var(--neutral-color-2)
}

.footer-info {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    align-items: center
}

.footer-tab {
    background-color: var(--primary-color-1);
    display: flex;
    justify-content: center;
    padding: var(--spacing-md) 0;
    margin: var(--spacing-xl) 0 0 0
}

.about-container,
.main-test-center {
    background-color: #000
}

.footer-tab p {
    padding: 0 var(--spacing-lg) 0 var(--spacing-lg)
}

.tab-span {
    padding: 0 var(--spacing-md) 0 var(--spacing-md)
}

.overview {
    padding: 0 var(--spacing-md)
}

.test-center-container {
    background-color: #000;
    color: #fff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-md) 0;
}

.test-center-container nav {
    padding: 0 var(--spacing-md);
}

.about-legacy-background h3,
.client-info h5 {
    font-weight: var(--font-weight-5)
}

.test-center-background {
    background-image: url(./images/test-center-background.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-md);
}

.about-container,
.about-legacy-background {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    display: flex
}

.test-center-background .section-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap
}

.test-center-background .black-card>p,
.test-center-background .orange-card>p,
.test-center-background p:first-of-type {
    width: 70%
}

.test-center-background .section-container:nth-of-type(2) {
    width: 1100px;
    position: relative
}

.test-center-background .card {
    padding: var(--spacing-lg) var(--spacing-md);
    font-size: var(--h4-size);
    text-transform: capitalize
}

.test-center-background .orange-card {
    background-color: var(--primary-color-1);
    position: absolute;
    right: 0
}

.test-center-background .black-card {
    background-color: var(--neutral-color-6)
}

.overview {
    margin-top: 180px
}

img[alt=overview] {
    width: 100%;
    margin: var(--spacing-lg) 0
}

.city-area,
.contact-background form {
    margin: var(--spacing-sm) 0
}

.breakdown-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
    flex-wrap: wrap;
    margin: var(--spacing-lg) 0;
    row-gap: 15px
}

.breakdown-cards>div {
    padding: var(--spacing-md) var(--spacing-md);
    box-shadow: 0 0 11px 7px rgb(241 241 241);
    width: 23%
}

.amenities h3,
.roads h3 {
    padding: 0 0 var(--spacing-md) 0
}

.amenities h3:nth-of-type(2),
.roads h3:nth-of-type(2) {
    padding: var(--spacing-md) 0 var(--spacing-md) 0
}

.roads .right-column {
    width: 58%
}

.blog-background h2,
.roads .left-column {
    width: 40%
}

.amenities h2 {
    margin: 0 0 var(--spacing-md) 0
}

.amenities-cards-divs,
.journey p:nth-of-type(2),
img[alt=about-facility] {
    margin: var(--spacing-md) 0
}

.amenities .right-column {
    width: 54%
}

.amenities .left-column {
    width: 39%
}

.amenities-cards-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 23px
}

.amenities-cards-divs>div {
    padding: var(--spacing-lg) var(--spacing-md);
    box-shadow: 0 0 11px 7px rgb(241 241 241);
    width: 15%;
    transition: .7s
}

.amenities-cards-divs>div:hover {
    background-color: var(--primary-color-1);
    color: #fff
}

.innovative-cards .left-column>p {
    width: 88%;
    padding: var(--spacing-md) 0
}

.innovative-cards .right-column {
    width: 55%
}

.innovative-cards .left-column {
    background-color: #fff;
    text-transform: uppercase;
    font-size: var(--h3-size);
    padding: var(--spacing-lg) var(--spacing-lg);
    position: absolute;
    right: 96px;
    bottom: -33px;
    box-shadow: 0 0 11px 1px rgb(241 241 241);
    width: 43%
}

.about-container {
    background-image: url(./images/legacy.svg);
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-md) var(--spacing-md);
}

.about-legacy-background {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: var(--neutral-color-1);
    margin: var(--spacing-xl) 0;
}

.blog-background,
.blog-container {
    color: #fff;
    background-size: cover
}

.about-legacy-background h3 {
    color: var(--orange-subtitle-color)
}

.about-legacy-background p,
.contact-form h3 {
    color: var(--neutral-color-2)
}

.legacy-cards {
    display: grid;
    margin: var(--spacing-xl) 0;
    grid-template-areas: "a b c";
    grid-gap: 15px;
}

img[alt="legacy-card1"] {
    grid-area: a;
}

img[alt="legacy-card2"] {
    grid-area: b;
}

img[alt="legacy-card3"] {
    grid-area: c;
}


.mission .left-column {
    display: grid;
    grid-template-areas: "a b b" "a d d";
    grid-gap: 15px;
    width: 68%
}

img[alt=mission1] {
    filter: brightness(1.3);
    grid-area: a
}

img[alt=mission2] {
    filter: brightness(1.3);
    grid-area: b;
    width: 100%
}

img[alt=mission3] {
    filter: brightness(1.3);
    grid-area: d;
    width: 100%
}

.mission .right-column {
    width: 29%
}

.innovation-details>.inno-one,
.innovation-details>.inno-three {
    padding: var(--spacing-md) var(--spacing-xl);
    position: relative;
    width: 112%;
    height: 24vh;
    display: flex;
    background-color: #fff
}


img[alt=about-facility] {
    width: 100%
}

.innovation-core {
    background-image: url("./images/about-map.svg");
    background-size: cover;
    height: 60vh;
}

.innovation-core .two-columns {
    justify-content: start
}

img[alt=innovation-img1] {
    width: 100%;
    height: 60vh
}

.innovation-details {
    display: flex;
    justify-content: center;
}

.contact-details .two-columns>div:first-of-type,
.innovation-details>div:nth-of-type(3) {
    padding: var(--spacing-lg) var(--spacing-md)
}

.innovation-details>.inno-one {
    top: 244px;
    left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.innovation-details>.inno-one::before {
    content: "Innovation at Our Core";
    position: absolute;
    bottom: 271px;
    right: 60px;
    width: 85%;
    font-size: var(--h2-size);
    font-weight: var(--font-weight-4);
    text-transform: capitalize
}

.innovation-details>.inno-three {
    top: 56px;
    right: 74px;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#partner-slider {
    width: var(--standard-width);
    overflow: hidden;
    animation: 4s ease-in-out infinite slideLeft;
    width: 64%;
    display: flex;
    align-items: center
}

.partner-logo {
    margin: 0 var(--spacing-lg)
}

@keyframes slideLeft {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(50%)
    }
}

.service-img-container {
    width: 300px;
    height: 200px;
    background-image: url("./images/customized-service2.svg");
    background-size: cover;
    transition: background-image .5s
}

.service-img-container:first-of-type {
    grid-area: a
}

.service-img-container:nth-of-type(2) {
    grid-area: b
}

.service-img-container:first-of-type {
    grid-area: c;
    grid-area: d;
    grid-area: e
}

.service-img-container:hover {
    background-image: url("./images/customized-service1.svg")
}

.blog-container {
    backdrop-filter: brightness(0.6);
    background-image: url(./images/blog-car.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: bottom;
    filter: contrast(1.2);
    padding: var(--spacing-md) var(--spacing-md);
}

.blog-container > .section-container:nth-of-type(1){
    margin-top: 0;
}

.blog-background {
    justify-content: center;
    backdrop-filter: brightness(0.5);
    position: relative;
    z-index: -1;
    margin: var(--spacing-xl) 0
}

.blog-background p:first-of-type {
    color: var(--neutral-color-2);
    line-height: 30px;
    width: 70%;
    font-size: var(--h4-size)
}

.blog-background h1,
h2 {
    padding: var(--spacing-md) 0;
    text-transform: capitalize
}

.blog-background h1 {
    width: 45%
}

.circle-blog-options {
    display: flex;
    align-items: center;
    column-gap: 38px;
    margin: var(--spacing-lg) 0;
    flex-wrap: wrap;
    row-gap: 10px
}

.blog-cards,
.page-sliders {
    margin: var(--spacing-xl) 0
}

.circular-div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff
}

img[alt=circle-blog1],
img[alt=circle-blog2],
img[alt=circle-blog3] {
    padding-left: 26px;
    padding-top: 23px
}

.blog-cards .section-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap
}

.blog-cards,
.client-info {
    display: flex;
    align-items: center
}

.client-info {
    column-gap: 5px;
    padding: 0 0 var(--spacing-md) 0
}

.client-info h3 {
    padding: 0 0 var(--spacing-sm) 0
}

.page-sliders,
.pages {
    align-items: center;
    display: flex
}

.blog-cards a {
    text-decoration: none;
    color: var(--neutral-color-5)
}

.blog-cards .section-container>div {
    box-shadow: 0 0 11px 7px rgba(112, 112, 112, .09);
    padding: 0 0 var(--spacing-md) 0;
    width: 32%
}

.client-text {
    padding: var(--spacing-md) var(--spacing-md)
}

.client-text p {
    line-height: 29px;
    color: var(--neutral-color-4);
    width: 95%
}

.pages {
    column-gap: 15px
}

.pages>p {
    color: var(--neutral-color-2);
    font-size: var(--h4-size)
}

.blog-article-background h1,
.contact-background,
.contact-form {
    color: var(--neutral-color-1)
}

.page-sliders .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap
}

.blog-article-background,
.blog-article-container {
    background-position: top;
    padding: var(--spacing-md) var(--spacing-sm);
    display: flex;
    background-size: cover;
}

.blog-article-container {
    background-image: url("./images/blog-article-background.svg");
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-article-background {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container,
.contact-details .two-columns>div,
.contact-form {
    padding: var(--spacing-md) var(--spacing-md)
}

.blog-article-background p,
.contact-black p {
    color: var(--neutral-color-2);
    font-size: var(--h4-size)
}

.blog-article-background p {
    width: 70%
}

.table-of-content .inner-shadowed-table {
    box-shadow: 0 0 11px 7px rgb(241 241 241);
    padding: var(--spacing-md) var(--spacing-lg);
    text-transform: capitalize
}

.table-of-content .inner-shadowed-table>*,
.table-of-content .inner-table>* {
    padding: var(--spacing-sm) 0;
    letter-spacing: .5px
}

.table-of-content .inner-table {
    padding: var(--spacing-sm) var(--spacing-md);
    margin: var(--spacing-lg) 0;
    text-transform: capitalize
}

.blog-article-tab .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 5px
}

.blog-article-icons,
.blog-article-pages {
    display: flex;
    column-gap: 15px;
    align-items: center
}

.contact-container {
    background-color: #000
}

.contact-background,
.contact-background form input,
.contact-form,
textarea {
    background-color: var(--neutral-color-6)
}

.contact-background .contact-black {
    height: 40vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: var(--spacing-xl) 0;
    flex-wrap: wrap;
    row-gap: 15px;
    text-align: center
}

.contact-black>div:nth-of-type(2) {
    width: 34%;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1
}

.contact-black h1 {
    width: 50%;
    text-align: left
}

.contact-black p {
    width: 65%;
    text-align: left
}

.contact-img {
    background-image: url("./images/contact-ferrarri.svg");
    height: 60vh;
    background-size: cover
}

.form-container {
    display: flex;
    justify-content: space-between
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}

.submit-btn {
    width: 100%;
    background-color: var(--primary-color-1);
    color: var(--neutral-color-6);
    font-size: var(--h4-size);
    padding: var(--spacing-sm) 0;
    border-style: none
}

.submit-btn:hover {
    cursor: pointer
}

.contact-background form label {
    display: block;
    color: var(--neutral-color-3);
    margin: var(--spacing-sm) 0;
    font-size: var(--h6-size);
    text-align: left
}

.contact-background form input,
textarea {
    width: 100%;
    font-size: var(--h5-size);
    padding-left: 5px;
    color: var(--neutral-color-1);
    border-radius: 3px
}

.contact-background form input {
    height: 40px;
    border: 1px solid var(--neutral-color-3)
}

.contact-details {
    margin: 0 var(--spacing-md)
}

.contact-details .two-columns {
    margin: 0 0 var(--spacing-xl) 0
}

.contact-details .two-columns>div {
    box-shadow: 0 0 7px rgb(241 241 241);
    margin-top: -50px;
    background-color: #fff
}

.contact-center .right-column>div {
    margin: var(--spacing-lg) var(--spacing-sm)
}

.contact-center .right-column ul {
    margin-left: 40px
}

.contact-center .left-column {
    background-image: url(./images/contact-center.svg);
    background-size: cover;
    height: 51vh;
    background-position: center;
    object-fit: cover
}

@media screen and (max-width:1200px) and (min-width:992px) {
    .main-navigation-bar {
        flex-direction: column;
        padding-right: 0
    }

    .display,
    .ul-list {
        display: none;
        position: absolute;
        top: 67px;
        right: 12px;
        border: 5px solid #fff;
        padding: var(--spacing-xl);
        background-color: var(--primary-color-1);
        color: #000;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    .main-navigation-bar a,
    .main-navigation-bar a:hover,
    .ul-list a:hover {
        color: #fff
    }

    .ul-list li {
        padding-bottom: 22px
    }

    img[alt=menu-burger] {
        display: block
    }

    img[alt=menu-burger]:hover {
        cursor: pointer
    }

    nav {
        column-gap: 18px
    }

    .nav-btns {
        display: none
    }

    .menu-btns {
        display: block;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px
    }

    button[name=mobile-contact-btn] {
        padding: 11px;
        width: 124px
    }

    button[name=start] {
        border-style: none
    }

    .amenities .left-column,
    .amenities .right-column,
    .blog-background h1,
    .blog-background h2,
    .contact-black h1,
    .contact-black p,
    .innovative-cards .left-column>p,
    .innovative-cards .right-column,
    .roads .left-column,
    .roads .right-column,
    .test-center-background .section-container:nth-of-type(2),
    .test-center-background p:first-of-type {
        width: 100%
    }

    .test-center-background {
        background-size: cover;
        height: 128vh
    }

    .test-center-background .orange-card {
        top: -96px;
        left: 0;
        width: 258px
    }

    .test-center-background .black-card:first-of-type {
        position: absolute;
        right: 0;
        bottom: 94px
    }

    .test-center-background .black-card:nth-of-type(2) {
        left: 0
    }

    .test-center-background .black-card {
        width: 153px
    }

    .breakdown-cards>div {
        width: 23%
    }

    .amenities,
    .breakdown,
    .roads {
        padding: 0 var(--spacing-md)
    }

    .overview {
        padding: 0 var(--spacing-md);
        position: relative;
        z-index: 1;
        background-color: #fff;
        margin-top: 320px
    }

    .amenities-cards-divs>div {
        width: 14%
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset
    }

    footer {
        padding: var(--spacing-xl) 0 0 0
    }

    footer h5 {
        font-size: var(--h5-size)
    }

    .blog-cards .section-container>div {
        width: 32%
    }

    .blog-background {
        padding: 0 var(--spacing-md) 0 var(--spacing-md)
    }

    .blog-article-background {
        height: 165vh
    }

    .contact-black>div:nth-of-type(2) {
        width: 97%;
        position: absolute;
        top: 519px;
        right: 15px;
        z-index: 1
    }

    .contact-background .contact-black {
        height: 68vh
    }

    .contact-img {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat
    }

    .contact-details .two-columns>div {
        margin-top: -19px
    }

    .mission .right-column {
        width: 100%;
    }

    .mission .left-column {
        display: grid;
        grid-template-areas:
            "a"
            "b"
            "d";
        grid-gap: 15px;
    }
    .background p{
        width: 100%;
    }
    .legacy-cards {
        grid-template-areas:
            "a b"
            "c";
    }
}

@media screen and (max-width:992px) and (min-width:786px) {
    .main-navigation-bar {
        flex-direction: column;
        padding-right: 0
    }

    .main-navigation-bar a,
    .ul-list a:hover {
        color: #fff
    }

    .display,
    .ul-list {
        display: none;
        position: absolute;
        top: 67px;
        right: 12px;
        border: 5px solid #fff;
        padding: var(--spacing-xl);
        background-color: var(--primary-color-1);
        color: #000;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    img[alt=menu-burger] {
        display: block
    }

    img[alt=menu-burger]:hover {
        cursor: pointer
    }

    .ul-list li {
        padding-bottom: 22px
    }

    nav {
        column-gap: 18px
    }

    .hidden-blogs,
    .nav-btns {
        display: none
    }

    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px
    }

    button[name=mobile-contact-btn] {
        padding: 11px;
        width: 124px
    }

    button[name=start] {
        border-style: none
    }

    button[name=start]:hover {
        color: var(--neutral-color-1)
    }

    .amenities .left-column,
    .amenities .right-column,
    .blog-article-background p,
    .blog-background h1,
    .blog-background h2,
    .blog-background p:first-of-type,
    .blog-cards .section-container>div,
    .breakdown-cards>div,
    .contact-black h1,
    .contact-black p,
    .innovative-cards .left-column>p,
    .innovative-cards .right-column,
    .left-column,
    .right-column,
    .roads .left-column,
    .roads .right-column,
    .test-center-background .section-container:nth-of-type(2),
    .test-center-background p:first-of-type,
    footer .section-container>div {
        width: 100%
    }

    .test-center-background .orange-card {
        top: -96px;
        left: 0;
        width: 258px
    }

    .test-center-background {
        background-size: cover;
        height: 131vh
    }

    .test-center-background .black-card:first-of-type {
        position: absolute;
        right: 0;
        bottom: 94px
    }

    .test-center-background .black-card:nth-of-type(2) {
        left: 0
    }

    .test-center-background .black-card {
        width: 153px
    }

    .amenities,
    .breakdown,
    .roads {
        padding: 0 var(--spacing-md)
    }

    .overview {
        padding: 0 var(--spacing-md);
        position: relative;
        z-index: 1;
        background-color: #fff;
        margin-top: 320px
    }

    .amenities-cards-divs>div {
        width: 45%
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset
    }

    footer {
        padding: var(--spacing-xl) 0 0 0
    }

    footer h5 {
        font-size: var(--h5-size)
    }

    footer .section-container>div:nth-of-type(2) {
        width: 38%
    }

    footer .section-container>div:nth-of-type(3) {
        width: 43%
    }

    .blog-background {
        padding: 0 var(--spacing-md) 0 var(--spacing-md)
    }

    .blog-article-background {
        height: 165vh
    }

    .contact-black>div:nth-of-type(2) {
        width: 97%;
        position: absolute;
        top: 519px;
        right: 15px;
        z-index: 1
    }

    .contact-background .contact-black {
        height: 68vh
    }

    .contact-img {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat
    }

    .contact-details .two-columns>div {
        margin-top: -3px
    }

    .contact-details .two-columns>div:first-of-type {
        margin: var(--spacing-md);
        margin-top: -23px
    }

    .contact-details .two-columns>div:nth-of-type(2) {
        margin: var(--spacing-md)
    }

    .mission .right-column {
        width: 100%;
    }

    .mission .left-column {
        display: grid;
        grid-template-areas:
        "a"
        "b"
        "d";
        grid-gap: 15px;
    }
    .background p{
        width: 100%;
    }
    .legacy-cards {
        grid-template-areas:
            "a"
            "b"
            "c";
    }
}

@media screen and (max-width:786px) and (min-width:600px) {
    .main-navigation-bar {
        flex-direction: column;
        padding-right: 0
    }

    .main-navigation-bar a,
    .ul-list a:hover {
        color: #fff
    }

    .display,
    .ul-list {
        display: none;
        position: absolute;
        top: 67px;
        right: 12px;
        border: 5px solid #fff;
        padding: var(--spacing-xl);
        background-color: var(--primary-color-1);
        color: #000;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    img[alt=menu-burger] {
        display: block
    }

    img[alt=menu-burger]:hover {
        cursor: pointer
    }

    .ul-list li {
        padding-bottom: 22px
    }

    nav {
        column-gap: 18px
    }

    .hidden-blogs,
    .nav-btns {
        display: none
    }

    .menu-btns {
        display: block;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px
    }

    button[name=mobile-contact-btn] {
        padding: 11px;
        width: 124px
    }

    button[name=start] {
        border-style: none
    }

    button[name=start]:hover {
        color: var(--neutral-color-1)
    }

    .amenities .left-column,
    .amenities .right-column,
    .blog-article-background p,
    .blog-background h1,
    .blog-background h2,
    .blog-background p:first-of-type,
    .blog-cards .section-container>div,
    .breakdown-cards>div,
    .contact-black h1,
    .contact-black p,
    .innovative-cards .left-column>p,
    .innovative-cards .right-column,
    .left-column,
    .right-column,
    .roads .left-column,
    .roads .right-column,
    .test-center-background .section-container:nth-of-type(2),
    .test-center-background p:first-of-type,
    footer .section-container>div {
        width: 100%
    }

    .test-center-background .orange-card {
        top: -96px;
        left: 0;
        width: 258px
    }

    .test-center-background {
        background-size: cover;
        height: 131vh
    }

    .test-center-background .black-card:first-of-type {
        position: absolute;
        bottom: 94px;
        right: 0
    }

    .test-center-background .black-card:nth-of-type(2) {
        left: 0
    }

    .test-center-background .black-card {
        width: 153px
    }

    .amenities,
    .breakdown,
    .roads {
        padding: 0 var(--spacing-md)
    }

    .overview {
        padding: 0 var(--spacing-md);
        position: relative;
        z-index: 1;
        background-color: #fff;
        margin-top: 320px
    }

    .amenities-cards-divs>div {
        width: 45%
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset
    }

    footer {
        padding: var(--spacing-xl) 0 0 0
    }

    footer h5 {
        font-size: var(--h5-size)
    }

    footer .section-container>div:nth-of-type(2) {
        width: 38%
    }

    footer .section-container>div:nth-of-type(3) {
        width: 43%
    }

    .blog-background {
        padding: 0 var(--spacing-md) 0 var(--spacing-md)
    }

    .blog-article-background {
        height: 165vh
    }

    .contact-black>div:nth-of-type(2) {
        width: 97%;
        position: absolute;
        top: 519px;
        right: 15px;
        z-index: 1
    }

    .contact-background .contact-black {
        height: 68vh
    }

    .contact-img {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat
    }

    .contact-details .two-columns>div {
        margin-top: -3px
    }

    .contact-details .two-columns>div:first-of-type {
        margin: var(--spacing-md);
        margin-top: -23px
    }

    .contact-details .two-columns>div:nth-of-type(2) {
        margin: var(--spacing-md)
    }

    .mission .right-column {
        width: 100%;
    }

    .mission .left-column {
        display: grid;
        grid-template-areas:
        "a"
        "b"
        "d";
        grid-gap: 15px;
    }
    .background p{
        width: 100%;
    }
    .legacy-cards {
        grid-template-areas:
            "a"
            "b"
            "c";
    }
}

@media screen and (max-width:600px) {
    .main-navigation-bar {
        flex-direction: column;
        padding-right: 0
    }

    .main-navigation-bar a,
    .ul-list a:hover {
        color: #fff
    }

    .display,
    .ul-list {
        display: none;
        position: absolute;
        top: 67px;
        right: 12px;
        border: 5px solid #fff;
        padding: var(--spacing-xl);
        background-color: var(--primary-color-1);
        color: #000;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px
    }

    img[alt=menu-burger] {
        display: block
    }

    img[alt=menu-burger]:hover {
        cursor: pointer
    }

    .ul-list li {
        padding-bottom: 22px
    }

    nav {
        column-gap: 18px
    }

    .hidden-blogs,
    .nav-btns {
        display: none
    }

    .menu-btns {
        display: block;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px
    }

    button[name=mobile-contact-btn] {
        padding: 11px;
        width: 124px
    }

    button[name=start] {
        border-style: none
    }

    button[name=start]:hover {
        color: var(--neutral-color-1);
        cursor: pointer
    }

    .amenities .left-column,
    .amenities .right-column,
    .blog-article-background p,
    .blog-background h1,
    .blog-background h2,
    .blog-background p:first-of-type,
    .blog-cards .section-container>div,
    .breakdown-cards>div,
    .contact-black h1,
    .contact-black p,
    .innovative-cards .left-column>p,
    .innovative-cards .right-column,
    .left-column,
    .right-column,
    .roads .left-column,
    .roads .right-column,
    .shrinked-img,
    .test-center-background .section-container:nth-of-type(2),
    .test-center-background p:first-of-type,
    footer .section-container>div {
        width: 100%
    }

    .test-center-background .orange-card {
        top: -96px;
        left: 0;
        width: 258px
    }

    .test-center-background {
        background-size: cover;
        height: 131vh
    }

    .test-center-background .black-card:first-of-type {
        position: absolute;
        right: 0;
        bottom: 94px
    }

    .test-center-background .black-card:nth-of-type(2) {
        left: 0
    }

    .test-center-background .black-card {
        width: 153px
    }

    .amenities,
    .breakdown,
    .roads {
        padding: 0 var(--spacing-md)
    }

    .overview {
        padding: 0 var(--spacing-md);
        position: relative;
        z-index: 1;
        background-color: #fff;
        margin-top: 320px
    }

    .amenities-cards-divs>div {
        width: 45%
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset
    }

    footer {
        padding: var(--spacing-xl) 0 0 0
    }

    footer h5 {
        font-size: var(--h5-size)
    }

    footer .section-container>div:nth-of-type(2) {
        width: 38%
    }

    footer .section-container>div:nth-of-type(3) {
        width: 43%
    }

    .blog-background {
        padding: 0 var(--spacing-md) 0 var(--spacing-md)
    }

    .blog-article-background {
        height: 165vh
    }

    .contact-black>div:nth-of-type(2) {
        width: 97%;
        position: absolute;
        top: 519px;
        right: 7px;
        z-index: 1
    }

    .contact-background .contact-black {
        height: 68vh
    }

    .contact-img {
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat
    }

    .contact-details .two-columns>div {
        margin-top: -3px
    }

    .contact-details .two-columns>div:first-of-type {
        margin: var(--spacing-md);
        margin-top: -23px
    }

    .contact-details .two-columns>div:nth-of-type(2) {
        margin: var(--spacing-md)
    }

    .mission .right-column {
        width: 100%;
    }


    .mission .left-column {
        display: grid;
        grid-template-areas:
        "a"
        "b"
        "d";
        grid-gap: 15px;
    }
    .background p{
        width: 100%;
    }
    .about-us-grid{
        grid-template-areas: 
        "";
    }
    .legacy-cards {
        grid-template-areas:
            "a"
            "b"
            "c";
    }
}

.display {
    display: block
}