* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {

    /*standard width*/
    --standard-width: 1349px;


    /*Font Weight*/
    --font-weight-1: 900;
    --font-weight-2: 800;
    --font-weight-3: 700;
    --font-weight-4: 600;
    --font-weight-5: 500;
    --font-weight-6: 400;
    --font-weight-7: 300;
    --font-weight-8: 200;
    --font-weight-9: 100;


    /*Heading Font Sizes*/
    --h1-size: 50px;
    --h2-size: 31px;
    --h3-size: 24px;
    --h4-size: 21px;
    --h5-size: 16px;
    --h6-size: 12px;

    /*Primary colors*/
    --primary-color-1: #ffad00;
    --primary-color-2: rgba(255, 189, 49, 1);
    --primary-color-3: rgba(255, 214, 127, 1);
    --primary-color-4: rgba(255, 237, 198, 1);
    --primary-color-5: rgba(255, 237, 198, 1);

    /*Neutral colors*/
    --neutral-color-1: rgba(255, 255, 255, 1);
    --neutral-color-2: #b8b8b8;
    --neutral-color-3: rgba(97, 97, 97, 1);
    --neutral-color-4: rgba(65, 65, 65, 1);
    --neutral-color-5: rgba(26, 26, 26, 1);
    --neutral-color-6: rgba(0, 0, 0, 1);
    --neutral-color-7: linear-gradient(rgba(0, 0, 0, 1), rgba(97, 97, 97, 1));

    /*Font Family*/
    --font-family: "Poppins", sans-serif;


    /*Orange subtitle with border left Style*/
    --orange-subtitle-color: rgba(255, 173, 0, 1);


    /*Buttons Styles*/
    --previous-btn-color: rgba(97, 97, 97, 1);
    --next-btn-color: rgba(255, 173, 0, 1);
    --booking-btn-color: rgba(26, 26, 26, 1);
    --booking-btn-background-color: rgba(255, 173, 0, 1);
    --submit-btn-color: rgba(26, 26, 26, 1);
    --submit-btn-background-color: rgba(255, 173, 0, 1);

    /*Spacing*/
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 28px;
    --spacing-xl: 64px;
}
/*******************NAVIGATION BAR**********************/




/*************** NAVIGATION BAR *****************/
nav {
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 89%;
    margin: auto;
    column-gap: 27px;
}

ul {
    display: flex;
    column-gap: 92px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
}


ul a {
    text-decoration: none;
}


.ul-list a:hover {
    color: #518581;
}

.nav-btns {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.menu-btns {
    display: none;
}

.menu-btns > img:nth-of-type(1){
    padding-right: 10px;
}

.logo-div {
    padding-top: 10px;
}

.nav-btns-w-search {
    display: flex;
    align-items: center;
    column-gap: 21px;
}

button[name="login"] {
    background-color: inherit;
    padding: 15px;
    border-style: none;
    font-size: 23px;
}

button[name="start"] {
    padding: 11px;
    width: 128px;
    border-style: none;
    font-size: 16px;
    background-color: #1b903a;
    color: white;
    border-radius: 9px;
}

img[alt="menu-burger"] {
    display: none;
}

.display{
    display: block;
}
/* nav media query */

@media screen and (max-width: 1200px) and (min-width:992px) {

    ul {
        flex-direction: column;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    ul a {
        color: white;
    }

    ul a:hover {
        color: white;
    }

    .display {
        display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    border: 5px solid #ffffff;
    padding: 58px;
    background-color: wheat;
    color: black;
    font-size: 25px;
    z-index: 2;
    text-align: center;
    border-radius: 76px;
    }

    .ul-list a:hover {
        color: white;
    }


    .ul-list li {
        padding-bottom: 22px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }

    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }


}

@media screen and (max-width: 992px) and (min-width:786px) {
    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #518581;
        padding: 58px;
        background-color: white;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #518581;
        padding: 58px;
        background-color: white;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }




    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {

    ul {
        flex-direction: column;
    }

    .ul-list a:hover {
        color: white;
    }

    ul a {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #518581;
        padding: 58px;
        background-color: white;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    border: 5px solid #ffffff;
    padding: 58px;
    background-color: wheat;
    color: black;
    font-size: 25px;
    z-index: 2;
    text-align: center;
    border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }



    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
}





/*BACKGROUND STYLES*/

p {
    text-transform: capitalize;
}

.background {
    background-image: url(./images/main-background.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-size: cover;
    padding: var(--spacing-xl);
    height: 100vh;
    justify-content: center;
    background-position: bottom;
}

.background p {
    text-transform: capitalize;
    font-size: var(--h4-size);
    text-align: center;
    width: 70%;
}

.background span {
    color: var(--orange-subtitle-color);
}

.background h1 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: var(--spacing-sm) 0 0 0;
}

.background .mini-orange-subtitle {
    color: var(--orange-subtitle-color);
    font-weight: var(--font-weight-4);

}

.accreditiations {
    margin: var(--spacing-xl) 0;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
    font-weight: var(--font-weight-4);

}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

.section-container {
    width: 100%;
    max-width: var(--standard-width);
    margin: auto;
}

.two-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 13px;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
}

.mini-heading-div {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.mini-heading {
    font-size: var(--h4-size);
    font-weight: var(--font-weight-5);
}

.orange-border {
    height: 3px;
    width: 50px;
    background-color: var(--primary-color-1);
}

.big-heading {
    font-size: var(--h2-size);
    font-weight: var(--font-weight-4);
}

.oranged-border-w-paragraph {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

img[alt="property"] {
    transition: transform 0.3s ease-out 100ms;
}

img[alt="property"]:hover {
    transform: scaleX(-1);
}

.standards {
    margin: var(--spacing-xl) 0;
}

img[alt="standard-frame"] {
    width: 100%;
}

.subtitle {
    padding: var(--spacing-sm) 0;
}

.tests-w-standards {
    text-align: center;
    margin: var(--spacing-xl) 0;
}

.tests-w-standards .mini-heading-div {
    justify-content: center;
}

.tests-w-standards-images .section-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.tests-w-standards-images .section-container>img {
    width: 33%;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin: var(--spacing-xl) 0;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--neutral-color-2);
}

.single-card {
    display: flex;
    justify-content: end;
}

.added-value-services {
    margin: var(--spacing-xl) 0;
}

.added-value-services .mini-heading-div {
    justify-content: center;
}

.added-value-services .section-container {
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-areas:
        ". b"
        "a b"
        "a c"
        "h c"
        "h d"
        "g d"
        "g .";
}

img[alt="push-pull"] {
    grid-area: a;
    width: 100%;
}


img[alt="grip-tests"] {
    grid-area: b;
    width: 100%;

}

img[alt="biomechanics"] {
    grid-area: h;
    width: 100%;

}

img[alt="simulation"] {
    grid-area: c;
    width: 100%;

}

img[alt="simulation"] {
    grid-area: c;
    width: 100%;

}

img[alt="modular-concrete"] {
    grid-area: g;
    width: 100%;
}

img[alt="impactor-tests"] {
    grid-area: d;
    width: 100%;

}

.added-value-cards .section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;
    margin-bottom: -165px;
    position: relative;
    z-index: 1;
}

img[alt="added-card"] {
    border-bottom: 2px solid var(--neutral-color-2);
    position: relative;
}

img[alt="added-card"]:hover {
    transform: scale(1.3);
}

#added-value-cards-text {
    display: flex;
    justify-content: space-evenly;
}


.added {
    position: relative;
}

img[alt="added-value-background"] {
    width: 100%;
}

.about-us {
    margin: var(--spacing-xl) 0;
}

.about-us .section-container {
    text-align: center;
}

.about-us .mini-heading-div {
    justify-content: center;
}

.about-us-grid {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-areas:
        "a a a a b b"
        "a a a a b b"
        "c d d d . . "
        "c d d d. . ";
    grid-gap: 10px;
    position: relative;
}

img[alt="about-us1"] {
    grid-area: a;
    transition: all 0.3s ease-in;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

img[alt="about-us1"]:hover {
    filter: brightness(0.6);
}

img[alt="about-us2"] {
    grid-area: c;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in;


}

img[alt="about-us2"]:hover {
    filter: brightness(0.6);
}

img[alt="about-us3"] {
    grid-area: d;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;

}

img[alt="about-us3"]:hover {
    filter: brightness(0.6);
}

img[alt="about-us4"] {
    grid-area: b;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

img[alt="about-us4"]:hover {
    filter: brightness(0.6);
}

.position-text::before {
    content: "hello";
    position: absolute;
    z-index: 1;
}

.customers {
    margin: var(--spacing-xl) 0;
}

.customers .mini-heading-div {
    justify-content: center;
}

.customers .section-container {
    text-align: center;
}

.sponsors .section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.angle-sponsor-left {
    position: absolute;
    top: 35px;
    left: 0;
}

.angle-sponsor-right {
    position: absolute;
    top: 35px;
    right: 0;
}

.testimonial {
    margin: var(--spacing-xl) 0;
}

.testimonial .mini-heading-div {
    justify-content: center;
}

.testimonial .section-container {
    text-align: center;
}

.customer-stories {
    position: relative;
    margin: var(--spacing-xl) 0;
}

.customer-stories .right-column {
    background-color: white;
    position: absolute;
    z-index: 1;
    right: 0;
    text-transform: uppercase;
    font-weight: var(--font-weight-4);
    font-size: var(--h1-size);
    padding: var(--spacing-xl) var(--spacing-lg);
}

.customer-stories .right-column>p {
    width: 88%;
}

.customer-stories .left-column {
    width: 68%;
}

.customer-stories .mini-orange-subtitle {
    color: var(--orange-subtitle-color);
    text-transform: capitalize;
    font-size: var(--h4-size);
    margin: var(--spacing-md) 0 0 0;
    font-weight: var(--font-weight-5);
    letter-spacing: 1px;
}

footer {
    padding: var(--spacing-xl) 0 0 0;
    background-color: var(--neutral-color-6);
    color: var(--neutral-color-1);

}

footer h4 {
    font-size: var(--h3-size);
    margin: 0 0 var(--spacing-md) 0;
}

footer .section-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 0 var(--spacing-md);
}

footer .follow-icons {
    display: flex;
    column-gap: 15px;
}

footer p {
    padding: 0 0 var(--spacing-sm) 0;
    color: var(--neutral-color-2);
}

img[alt="map"] {
    width: 100%;
}

.footer-info {
    display: flex;
    column-gap: 39px;
    justify-content: space-between;
    align-items: center;
}

.footer-tab {
    background-color: var(--primary-color-1);
    display: flex;
    justify-content: center;
    padding: var(--spacing-md) 0;
    margin: var(--spacing-xl) 0 0 0;
}

.footer-tab p {
    color: var(--neutral-color-1);
}

.tab-span {
    padding: 0 var(--spacing-md) 0 var(--spacing-md);
}

/* left and right column media query*/

@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {
    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }
}

/*************************** TEST CENTER STYLES ***************************/

.test-center-background {
    background-image: url(./images/test-center-background.svg);
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-test-center {
    background-color: black;
    padding: 0 var(--spacing-md);

}

.test-center-background .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.test-center-background span {
    color: var(--orange-subtitle-color);
}

.test-center-background p:nth-of-type(1) {
    width: 70%;
}

.test-center-background .section-container:nth-of-type(2) {
    width: 1100px;
    position: relative;
}

.test-center-background .card {
    padding: var(--spacing-lg) var(--spacing-md);
    font-size: var(--h4-size);
    text-transform: capitalize;
}

.test-center-background .orange-card {
    background-color: var(--primary-color-1);
    position: absolute;
    right: 0;
}

.test-center-background .orange-card>p {
    width: 70%;
}

.test-center-background .black-card {
    background-color: var(--neutral-color-6);
}

.test-center-background .black-card>p {
    width: 70%;
}

.test-center-background .black-card:nth-of-type(1) {
    position: absolute;
    bottom: -7px;
    left: 0;
}

.overview {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md);

}

img[alt="overview"] {
    width: 100%;
    margin: var(--spacing-lg) 0;
}

.city-area {
    margin: var(--spacing-sm) 0;
}

.breakdown {
    padding: 0 var(--spacing-md);
}

.breakdown-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
    flex-wrap: wrap;
    margin: var(--spacing-lg) 0;
    row-gap: 15px;
}

.breakdown-cards>div {
    padding: var(--spacing-md) var(--spacing-md);
    box-shadow: 0px 0px 11px 7px rgb(241 241 241);
    width: 23%;
}

.roads {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md);

}

.roads h3 {
    padding: 0 0 var(--spacing-md) 0;

}

.roads h3:nth-of-type(2) {
    padding: var(--spacing-md) 0 var(--spacing-md) 0;
}

.roads .right-column {
    width: 58%;
}

.roads .left-column {
    width: 40%;
}

.amenities {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md);

}

.amenities h3 {
    padding: 0 0 var(--spacing-md) 0;
}

.amenities h3:nth-of-type(2) {
    padding: var(--spacing-md) 0 var(--spacing-md) 0;
}

.amenities h2 {
    margin: 0 0 var(--spacing-md) 0;
}

.amenities .right-column {
    width: 54%;
}

.amenities .left-column {
    width: 39%;
}

.amenities-cards {
    margin: var(--spacing-xl) 0;

}

.amenities-cards-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
    margin: var(--spacing-md) 0;
    flex-wrap: wrap;
    row-gap: 23px;

}

.amenities-cards-divs>div {
    padding: var(--spacing-lg) var(--spacing-md);
    box-shadow: 0px 0px 11px 7px rgb(241 241 241);
    width: 15%;
    text-align: center;
}

.innovative-cards {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md);

}

.innovative-cards .left-column {
    background-color: white;
    text-transform: uppercase;
    font-weight: var(--font-weight-4);
    font-size: var(--h2-size);
    padding: var(--spacing-xl) var(--spacing-lg);
    position: absolute;
    right: 142px;
    bottom: -46px;
    box-shadow: 0px 0px 11px 1px rgb(241 241 241);
}

.innovative-cards .left-column>p {
    width: 88%;
}


.innovative-cards .right-column {
    width: 55%;
}

.innovative-cards .left-column {
    width: 43%;
}

.innovative-cards .two-columns {
    position: relative;
}

.innovative-cards .mini-orange-subtitle {
    color: var(--orange-subtitle-color);
    text-transform: capitalize;
    font-size: var(--h4-size);
    margin: var(--spacing-md) 0 0 0;
    font-weight: var(--font-weight-5);
    letter-spacing: 1px;
}


/*************************** ABOUT US STYLES ***************************/

.about-legacy-background > *{
    text-transform: capitalize;
}

.about-legacy-background{
    background-image: url(./images/legacy.svg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    align-items: end;
    justify-content: center;
    background-position: right;
    background-size: contain;
}

.legacy-cards{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.legacy-cards > div{
    width: 100px;
    height: 100px;
}
img[alt="legacy-card1"]{
    width: 100%;
}

.mission {
    margin: var(--spacing-xl) 0;
}

.mission .left-column {
    display: grid;
    grid-template-areas:
        "a b b"
        "a d d";
    grid-gap: 15px;
}

img[alt="mission1"] {
    filter: brightness(1.3);
    grid-area: a;
}

img[alt="mission2"] {
    filter: brightness(1.3);
    grid-area: b;
    height: 100;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img[alt="mission3"] {
    filter: brightness(1.3);
    grid-area: d;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mission .left-column {
    width: 68%;
}

.mission .right-column {
    width: 29%;
}

.mission .right-column>p {
    text-transform: capitalize;
}

.our-facilities {
    margin: var(--spacing-xl) 0;
}

img[alt="about-facility"] {
    width: 100%;
    margin: var(--spacing-md) 0;
}

.innovation-core {
    position: relative;
}

.innovation-core .section-container {
    display: flex;
    align-items: center;
}

.innovation-core .section-container>div:nth-of-type(1) {}

.innovation-core .section-container>div:nth-of-type(3) {}

.innovation-core-text-card {
    border: 1px solid black;
    padding: var(--spacing-lg) 0;
    background-color: var(--neutral-color-1);
}

.journey p:nth-of-type(2) {
    margin: var(--spacing-md) 0;
}

/*************************** MEDIA QUERY ***************************/


/*test center media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    .test-center-background .section-container:nth-of-type(2) {
        width: 100%;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {

    .test-center-background .section-container:nth-of-type(2) {
        width: 100%;
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {
    .test-center-background .section-container:nth-of-type(2) {
        width: 100%;
    }

    .test-center-background .orange-card {
        right: unset;
    }

}

@media screen and (max-width: 600px) {

    .test-center-background .section-container:nth-of-type(2) {
        width: 100%;
    }

    .test-center-background .orange-card {
        right: unset;
    }
}


/*breakdown media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    .breakdown-cards>div {
        width: 23%;
    }

    .breakdown {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .breakdown-cards>div {
        width: 100%;
    }

    .breakdown {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .breakdown-cards>div {
        width: 100%;
    }

    .breakdown {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 600px) {
    .breakdown-cards>div {
        width: 100%;
    }

    .breakdown {
        padding: 0 var(--spacing-md);
    }
}

/*overview media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    .overview {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .overview {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .overview {
        padding: 0 var(--spacing-md);
    }
}

@media screen and (max-width: 600px) {
    .overview {
        padding: 0 var(--spacing-md);
    }
}

/*roads media query*/

@media screen and (max-width: 1200px) and (min-width:992px) {
    .roads {
        padding: 0 var(--spacing-md);
    }

    .roads .left-column {
        width: 100%;
    }

    .roads .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .roads {
        padding: 0 var(--spacing-md);
    }

    .roads .left-column {
        width: 100%;
    }

    .roads .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .roads {
        padding: 0 var(--spacing-md);
    }

    .roads .left-column {
        width: 100%;
    }

    .roads .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .roads {
        padding: 0 var(--spacing-md);
    }

    .roads .left-column {
        width: 100%;
    }

    .roads .right-column {
        width: 100%;
    }
}

/*amenities media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    .amenities {
        padding: 0 var(--spacing-md);
    }

    .amenities-cards-divs>div {
        width: 14%;
    }

    .amenities .left-column {
        width: 100%;
    }

    .amenities .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .amenities {
        padding: 0 var(--spacing-md);
    }

    .amenities-cards-divs>div {
        width: 45%;
    }

    .amenities .left-column {
        width: 100%;
    }

    .amenities .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .amenities {
        padding: 0 var(--spacing-md);
    }

    .amenities-cards-divs>div {
        width: 45%;
    }

    .amenities .left-column {
        width: 100%;
    }

    .amenities .right-column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .amenities {
        padding: 0 var(--spacing-md);
    }

    .amenities-cards-divs>div {
        width: 45%;
    }

    .amenities .left-column {
        width: 100%;
    }

    .amenities .right-column {
        width: 100%;
    }
}

/*innovative media query*/

@media screen and (max-width: 1200px) and (min-width:992px) {
    .innovative-cards .right-column {
        width: 100%;
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset;

    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .innovative-cards .right-column {
        width: 100%;
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset;

    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .innovative-cards .right-column {
        width: 100%;
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset;

    }
}

@media screen and (max-width: 600px) {
    .innovative-cards .right-column {
        width: 100%;
    }

    .innovative-cards .left-column {
        width: 100%;
        position: unset;
    }
}

/*footer media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    footer {
        padding: var(--spacing-xl) 0 0 0;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    footer {
        padding: var(--spacing-xl) 0 0 0;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    footer {
        padding: var(--spacing-xl) 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: var(--spacing-xl) 0 0 0;
    }

}


#partner-slider {
    width: var(--standard-width);
    overflow: hidden;
}


.partner-logo {
    margin: 0 var(--spacing-lg);
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(50%);
    }
}

#partner-slider {
    animation: slideLeft 4s ease-in-out infinite;
    width: 64%;
    display: flex;
    align-items: center;
}

.service-img-container {
    width: 300px;
    height: 200px;
    background-image: url("./images/customized-service2.svg");
    background-size: cover;
    transition: background-image 0.5s ease;
}

.service-img-container:hover {
    background-image: url("./images/customized-service1.svg");
    
}


/********************** BLOG *******************************/


.blog-background {
    background-image: url(./images/blog-car.png);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-size: cover;
    padding: var(--spacing-xl);
    height: 100vh;
    justify-content: center;
    background-position: bottom;
    filter: contrast(1.2) saturate(1.5);
}

.blog-background span {
    color: var(--orange-subtitle-color);
}


.blog-background p:nth-of-type(1) {
    color: var(--neutral-color-2);
    line-height: 30px;
    width: 50%;
    font-size: var(--h4-size);
}

.blog-background h1,
h2 {
    padding: var(--spacing-md) 0;
    text-transform: capitalize;
}

.blog-background h2 {
    width: 40%;
}

.blog-background h1 {
    width: 40%;
}

.circle-blog-options {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.circular-div {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: white;
}

img[alt="circle-blog1"],
img[alt="circle-blog2"],
img[alt="circle-blog3"] {
    padding-left: 26px;
    padding-top: 23px;
}

.blog-cards {
    margin: var(--spacing-xl) 0;
}

.blog-background .mini-orange-subtitle {
    color: var(--orange-subtitle-color);
}

.blog-cards .section-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
}


.client-info {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0 0 var(--spacing-md) 0;
}

.client-info h5 {
    font-weight: var(--font-weight-5);
}

.client-info h3 {
    padding: 0 0 var(--spacing-sm) 0;
}

.blog-cards {
    display: flex;
    align-items: center;
}

.blog-cards a {
    text-decoration: none;
    color: var(--neutral-color-5);
}

.blog-cards .section-container>div {
    box-shadow: 0px 0px 11px 7px rgba(112, 112, 112, 0.09);
    padding: 0 0 var(--spacing-md) 0;
    width: 32%;
}

img[alt="blog1"] {
    width: 100%;
}

.client-text {
    padding: var(--spacing-md) var(--spacing-md);
}

.client-text p {
    line-height: 29px;
    color: var(--neutral-color-4);
    width: 95%;
}

.page-sliders {
    display: flex;
    align-items: center;
    margin: var(--spacing-xl) 0;
}

.pages {
    display: flex;
    align-items: center;
    column-gap: 15px
}

.pages>p:nth-of-type(1) {
    color: var(--primary-color-1);
}

.pages>p {
    color: var(--neutral-color-2);
    font-size: var(--h4-size);
}

.page-sliders .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
}



/* blog cards media query */

@media screen and (max-width: 1200px) and (min-width:992px) {
    .blog-cards .section-container>div {
        width: 32%;
    }

}

@media screen and (max-width: 992px) and (min-width:786px) {
    .blog-cards .section-container>div {
        width: 100%;
    }

    .hidden-blogs {
        display: none;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .blog-cards .section-container>div {
        width: 100%;
    }

    .hidden-blogs {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .blog-cards .section-container>div {
        width: 100%;
    }

    .hidden-blogs {
        display: none;
    }
}


/****************** BLOG ARTICLE ***********************/

.blog-article-background {
    background-image: url("./images/blog-article-background.svg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: top;
    padding: 0 var(--spacing-md);
}

.blog-article-background>* {
    text-transform: capitalize;
}

.blog-article-background span {
    color: var(--orange-subtitle-color);
}

.blog-article-background .mini-orange-subtitle {
    color: var(--orange-subtitle-color);
}

.blog-article-background h1 {
    color: var(--neutral-color-1);
    text-align: center;
}

.blog-article-background p {
    width: 70%;
    font-size: var(--h4-size);
    text-align: center;
    color: var(--neutral-color-2);
}


.table-of-content {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md);

}


.table-of-content .inner-shadowed-table {
    box-shadow: 0px 0px 11px 7px rgb(241 241 241);
    padding: var(--spacing-md) var(--spacing-lg);
    text-transform: capitalize;
}


.table-of-content .inner-shadowed-table>* {
    padding: var(--spacing-sm) 0;
    letter-spacing: 0.5px;
}

.table-of-content .inner-table {
    padding: var(--spacing-sm) var(--spacing-lg);
    margin: var(--spacing-lg) 0;
    text-transform: capitalize;
}

.table-of-content .inner-table>* {
    padding: var(--spacing-sm) 0;
    letter-spacing: 0.5px;
}

.blog-article-tab {
    margin: var(--spacing-xl) 0;
    padding: 0 var(--spacing-md);

}

.blog-article-tab .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 5px;
}

.blog-article-icons {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.blog-article-pages {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

/* Blog article media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    .blog-article-background {
        height: 165vh;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .blog-article-background {
        height: 165vh;
    }

    .blog-article-background p {
        width: 100%;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .blog-article-background {
        height: 165vh;
    }

    .blog-article-background p {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .blog-article-background {
        height: 165vh;
    }

    .blog-article-background p {
        width: 100%;
    }
}


/********************** CONTACT US ****************/

.contact-background {
    background-color: var(--neutral-color-6);
    color: var(--neutral-color-1);
}

.contact-background .contact-black {
    height: 40vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: var(--spacing-xl) 0;
    flex-wrap: wrap;
    row-gap: 15px;
    text-align: center;
    padding: 0 var(--spacing-md);
}

.contact-black>div:nth-of-type(1) {
    width: 100%;
}

.contact-black>div:nth-of-type(2) {
    width: 34%;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1;
}

.contact-black h1 {
    width: 50%;
}

.contact-black p {
    width: 65%;
    font-size: var(--h4-size);
    color: var(--neutral-color-2);
}

.contact-background .contact-black span {
    color: var(--orange-subtitle-color);
}

.contact-background>* {
    text-transform: capitalize;
}

.contact-img {
    background-image: url("./images/contact-ferrarri.svg");
    height: 60vh;
    background-size: cover;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.contact-form {
    background-color: var(--neutral-color-6);
    padding: var(--spacing-md) var(--spacing-md);
    color: var(--neutral-color-1);
}

.contact-form h3 {
    color: var(--neutral-color-2);
}

.submit-btn {
    width: 100%;
    background-color: var(--primary-color-1);
    color: var(--neutral-color-6);
    font-size: var(--h4-size);
    font-weight: var(--font-weight-4);
    padding: var(--spacing-sm) 0;
    border-style: none;
}

.submit-btn:hover {
    cursor: pointer;
}

.contact-background form label {
    display: block;
    color: var(--neutral-color-3);
    margin: var(--spacing-sm) 0;
    font-size: var(--h6-size);
    text-align: left;
}


.contact-background form input,
textarea {
    width: 100%;
    background-color: var(--neutral-color-6);
    font-size: var(--h5-size);
    padding-left: 5px;
    color: var(--neutral-color-1);
    border-radius: 3px;
}

.contact-background form input {
    height: 40px;
    border: 1px solid var(--neutral-color-3);
}

.contact-background form {
    margin: var(--spacing-sm) 0;
}

.contact-details .two-columns {
    margin: 0 0 var(--spacing-xl) 0;
}

.contact-details .two-columns>div {
    box-shadow: 0px 0px 7px rgb(241 241 241);
    padding: var(--spacing-md) var(--spacing-md);

}

.contact-details .two-columns>div:nth-of-type(1) {
    padding: var(--spacing-lg) var(--spacing-md);

}

.contact-details .two-columns>div {
    margin-top: -50px;
    background-color: white;
}

.contact-center {
    margin: var(--spacing-xl) 0;
}

.contact-center .right-column>div {
    margin: var(--spacing-lg) 0;
}

/* contact media query*/
@media screen and (max-width: 1200px) and (min-width:992px) {
    .contact-black>div:nth-of-type(2) {
        width: 92%;
        position: absolute;
        top: 452px;
        right: 15px;
        z-index: 1;
    }

    .contact-black p {
        width: 100%;
    }

    .contact-black h1 {
        width: 100%;
    }

    .contact-background .contact-black {
        height: 68vh;
    }

    .contact-img {
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contact-details .two-columns>div {
        margin-top: -19px;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .contact-black>div:nth-of-type(2) {
        width: 92%;
        position: absolute;
        top: 452px;
        right: 15px;
        z-index: 1;
    }

    .contact-black p {
        width: 100%;
    }

    .contact-black h1 {
        width: 100%;
    }

    .contact-background .contact-black {
        height: 68vh;
    }

    .contact-img {
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contact-details .two-columns>div {
        margin-top: -3px
    }

}

@media screen and (max-width: 786px) and (min-width:600px) {
    .contact-black>div:nth-of-type(2) {
        width: 92%;
        position: absolute;
        top: 452px;
        right: 15px;
        z-index: 1;
    }

    .contact-black p {
        width: 100%;
    }

    .contact-black h1 {
        width: 100%;
    }

    .contact-background .contact-black {
        height: 68vh;
    }

    .contact-img {
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contact-details .two-columns>div {
        margin-top: -3px
    }
}

@media screen and (max-width: 600px) {
    .contact-black>div:nth-of-type(2) {
        width: 92%;
        position: absolute;
        top: 452px;
        right: 15px;
        z-index: 1;
    }

    .contact-black p {
        width: 100%;
    }

    .contact-black h1 {
        width: 100%;
    }

    .contact-background .contact-black {
        height: 68vh;
    }

    .contact-img {
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    .contact-details .two-columns>div {
        margin-top: -3px
    }
}